// COLORS
$dark-grey-color: #323232;
$silver-color: #afafaf;
$mercury: #e1e1e1;
$white-color: #ffffff;
$background-white: #fafafa;
$stock-blue-color: #004892;
$dark-blue-color: #002f5f;
$brainflix-blue: #0065ad;
$bright-blue: #0095ff;

// BREAKPOINTS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;
$mac-breakpoint: 1440px;
