@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/fonts";

.comments {
  cursor: default;
  height: auto;
  max-width: 1200px;
  margin: auto;
  @include desktop {
    max-width: 943px;
    display: inline-block;
    width: 72%;
    margin-top: 0%;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 90%;
    max-width: 528px;
    justify-content: space-between;
    margin: auto;
    border-bottom: solid 1px $mercury;
    @include tablet {
      align-items: flex-end;
      width: 95%;
      max-width: 728px;
      padding-bottom: 24px;
    }
    @include desktop {
      align-items: flex-end;
      width: 95%;
      max-width: 943px;
      padding-bottom: 24px;
      border-bottom: none;
    }
  }
  &__header {
    font-family: "avenir-bold";
    margin: auto;
    padding: 3.5% 0 2.5% 0;
    width: 90%;
    font-size: 1rem;
    @include tablet {
      width: 95%;
    }
  }
  &__new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    align-items: end;
    @include tablet {
      flex-direction: row;
      width: 90%;
      align-items: flex-end;
      justify-content: end;
    }
    @include desktop {
      flex-direction: row;
      width: 92%;
      align-items: flex-end;
      justify-content: end;
    }
  }
  &__past-wrapper {
    width: 90%;
    margin: auto;
    @include tablet {
      width: 95%;
    }
    @include desktop {
      width: 95.5%;
      border-bottom: solid 1px $mercury;
    }
    @include mac {
      width: 92%;
    }
  }
  &__past {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: end;
    height: 195px;
    line-height: 1.5;
    border-bottom: solid 1px $mercury;
    font-family: "avenir";
    @include tablet {
      justify-content: start;
      height: 115px;
      border-bottom: none;
    }
    @include desktop {
      height: 125px;
      border-top: solid 1px $mercury;
    }
  }
  &__content {
    font-family: "avenir";
    margin: 16px auto;
    @include tablet {
      font-size: 0.88rem;
    }
    @include desktop {
      width: 850px;
    }
  }
  &__photo {
    background-image: url(../../assets/images/Mohan-muruge.jpg);
    background-position: inherit;
    background-size: cover;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-top: 15%;
    @include tablet {
      margin-top: 0;
    }
  }
  &__past-photo {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: $mercury;
    margin: 35px 0;
    @include desktop {
      margin: 30px 0;
    }
  }
  &__text {
    width: 78%;
    max-width: 440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
    align-items: flex-end;
  }
  &__info {
    width: 78%;
    max-width: 440px;
    display: flex;
    margin-left: 16px;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.85rem;
    @include tablet {
      width: auto;
      max-width: 615px;
    }
    @include desktop {
      width: 720px;
      max-width: 720px;
    }
  }
  &__label {
    color: silver;
    font-family: "avenir-demi-bold";
    font-size: 0.9rem;
    @include tablet {
      margin-bottom: 6px;
    }
  }
  &__comment-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 125px;
    margin: 16px 0px;
    width: 100%;
    @include tablet {
      height: 70px;
      width: 460px;
      margin: 0;
    }
    @include desktop {
      width: 550px;
    }
  }
  &__comment-input {
    height: 96px;
    padding: 10px 0 0 10px;
    resize: none;
    @include tablet {
      padding: 14px 0 0 14px;
    }
  }

  &__button {
    background-color: $bright-blue;
    font-family: "avenir-bold";
    color: #ffffff;
    border-radius: 5px;
    height: 48px;
    margin-bottom: 10%;
    width: 100%;
    @include tablet {
      height: 50px;
      margin-left: 16px;
      margin-bottom: 0;
      width: 150px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__name {
    width: 51%;
    margin: 35px 0 0 0;
    font-family: "avenir-demi-bold";
    @include tablet {
      width: auto;
      margin: 35px 8px 0 0;
    }
    @include desktop {
      margin: 30px 8px 0 0;
    }
  }
  &__date {
    font-family: "avenir";
    width: 42%;
    text-align: end;
    margin: 35px 0 0 0;
    color: silver;
    @include tablet {
      width: 40%;
      text-align: start;
    }
    @include desktop {
      margin: 30px 8px 0 0;
    }
  }
}
/********** INPUT FEILDS ***********/
input[type="text"],
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: white;
  font-family: "avenir";
  &::placeholder {
    color: black;
  }
  &::focus {
    // background-color: white;
  }
}
